<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=iso-8859-6">
<meta name=Generator content="Microsoft Word 12 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"Balloon Text Char";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Tahoma","sans-serif";}
span.BalloonTextChar
	{mso-style-name:"Balloon Text Char";
	mso-style-link:"Balloon Text";
	font-family:"Tahoma","sans-serif";}
.MsoPapDefault
	{margin-bottom:10.0pt;
	line-height:115%;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

</head>

<body lang=EN-US>

<div class=WordSection1>

<table class=MsoNormalTable border=1 cellpadding=0 width=591 style='width:443.25pt;
 border:solid rgb(49, 89, 41) 6.0pt'>
 <tr>
  <td width=587 style='width:440.25pt;border:none;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal>
  <img src="cid:header">

  
  </p>
  <div class=MsoNormal align=center style='text-align:center'>
  <hr size=2 width="100%" align=center>
  </div>
  <table class=MsoNormalTable border=0 cellpadding=0>
   <tr>
    <td style='padding:.75pt .75pt .75pt .75pt'>
    <p class=MsoNormal>
    
    <img src="cid:innerImage">
    
    </p>
    </td>
    <td style='padding:.75pt .75pt .75pt .75pt'>
    <table class=MsoNormalTable border=0 cellpadding=0>
     <tr>
      <td style='padding:.75pt .75pt .75pt .75pt'>
      <p class=MsoNormal style='margin-bottom:12.0pt'><b><span
      style='font-family:"Tahoma","sans-serif"'>Dear $firstName , </span></b></p>
      </td>
     </tr>
     <tr>
      <td style='padding:.75pt .75pt .75pt .75pt'>
      <p class=MsoNormal><b><span style='font-family:"Tahoma","sans-serif"'>The status of your idea $ideaName has been changed to $newStatusEn 
      #if($updateComment =="")
      .
      #else           
      ,with the below comment: <br/>
      $updateComment
      #end
      </span></b></p>
      </td>
     </tr>
     <tr>
      <td style='padding:.75pt .75pt .75pt .75pt'></td>
     </tr>
     <tr>
      <td style='padding:.75pt .75pt .75pt .75pt'></td>
     </tr>
     <tr>
      <td style='padding:.75pt .75pt .75pt .75pt'></td>
     </tr>
    </table>

    </td>
   </tr>
  </table>
  <p class=MsoNormal>&nbsp;</p>
  <div class=MsoNormal align=center style='text-align:center'>
  <hr size=2 width=550 style='width:412.5pt' align=center>
  </div>  
  </td>
 </tr>
</table>
</div></body>
</html>